@tailwind base;
@tailwind components;
@tailwind utilities;


/* .desktop{
  display: flex;
width: 1440px;
min-height: 900px;
flex-direction: column;
align-items: center;
}

.mobile {
display: flex;
width: 375px;
min-height: 900px;
flex-direction: column;
align-items: flex-start;

} */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-70%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 20s linear infinite;
  width: 100%;
}




/* :root {
  --font-inter: "Inter", sans-serif;
  --font-bebas-neue: "Bebas Neue", cursive;
} */